.login-auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    min-height: 100vh;       
    width: 100%;
    padding: 20px;           
    box-sizing: border-box;
}

.login-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}